

a {
    color: black;
    
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  width: 100%;
  text-align: center;
  position: static;
  left: 0;
  top: 0;
  z-index: 999;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
  text-transform: uppercase;
}

.description {
  background-color: rgba (264, 154, 845, 0.5);
  height: auto;
  width: 100%;
  text-align: center;
  position: static;
  left: 0;
  top: 520px;
  z-index: 999;
}

.description h {
  padding: 0;
  color: #666666;
  display: inline-block;
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px;
    
}